*{
    margin: 0;
    padding: 0;
}

body{
    
}

@font-face {
	font-family: 'PhosphateInline';
	src: url(PhosphateInline.ttf);
}

#header{
  background-color:  #fff; 
    height: 30vh;
}
.container h1{
    color: #f05a5a;
    padding-top: 50px;
}


h1{
    display: inline-block;
}

ul{
    width: 70vw;
    display: flex;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
    padding: 20px;
}



#diary{
    width: 100%;
    height: 100vh;
    background-color: #727CC3;
    position: relative;
}
.diaryimg{
    padding-right: 320px;
    width: 350px;
    margin-right:100px;
   margin-top: 100px;
}
.view {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat 0 0;
}
.view .mask, .view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(219,127,8, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
	transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
	transition: all 0.2s ease-in-out;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}

.view-second img { 	
	transition: all 0.2s ease-in;
}
.view-second .mask { 
	background-color: rgba(115,146,184, 0.7); 
	width: 300px;
    padding: 60px;
	height: 300px;
	opacity: 0;
	transform: translate(265px, 145px) rotate(45deg);
	transition: all 0.2s ease-in-out;
}
.view-second h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
	transition: all 0.2s ease-in-out;
}
.view-second p { 
	transform: translate(-200px, 200px);
	transition: all 0.2s ease-in-out;
}
.view-second a.info { 
    transform: translate(0px, 100px);
	transition: all 0.2s 0.1s ease-in-out;
} 

.view-second:hover .mask { 
	opacity:1; 
	transform: translate(-80px, -125px) rotate(45deg);
}							  
.view-second:hover h2 { 
	transform: translate(0px,0px);
	transition-delay: 0.3s; 
}
.view-second:hover p { 
    transform: translate(0px,0px); 
	transition-delay: 0.4s;
}
.view-second:hover a.info { 
	transform: translate(0px,0px); 
	transition-delay: 0.5s;
}

.view-third img { 	
    transition: all 0.2s ease-in; 
}
.view-third .mask { 
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
	transform: translate(460px, -100px) rotate(180deg);
	transition: all 0.2s 0.4s ease-in-out;
}
.view-third h2{
	transform: translateY(-100px);
	transition: all 0.2s ease-in-out;
}
.view-third p { 
	transform: translateX(300px) rotate(90deg);
	transition: all 0.2s ease-in-out;
}
.view-third a.info { 
	transform: translateY(-200px);
	transition: all 0.2s ease-in-out;
} 

.view-third:hover .mask { 
	opacity:1; 
	transition-delay: 0s;							 
	transform: translate(0px, 0px);
}
.view-third:hover h2 { 
	transform: translateY(0px); 
	transition-delay: 0.5s; 
}
.view-third:hover p	{ 
    transform: translateX(0px) rotate(0deg);
	transition-delay: 0.4s;
}
.view-third:hover a.info { 
	transform: translateY(0px);
	transition-delay: 0.3s;
}

.view-ninth .mask-1,
.view-ninth .mask-2{
	background-color: rgba(0,0,0,0.5);
    height: 361px;
    width: 361px;
	background: rgba(119,0,36,0.5);
	opacity: 1;
    transition: all 0.3s ease-in-out 0.6s;
}
.view-ninth .mask-1 { 
    left: auto;
    right: 0px;
    transform: rotate(56.5deg) translateX(-180px);
    transform-origin: 100% 0%;
}
.view-ninth .mask-2 { 
    top: auto;
    bottom: 0px;
    transform: rotate(56.5deg) translateX(180px);
    transform-origin: 0% 100%;
}


.view-ninth .content{
    background: rgba(0,0,0,0.9);
    height: 0px;
    opacity: 0.5;
    width: 361px;
    overflow: hidden;
    transform: rotate(-33.5deg) translate(-112px,166px);
    transform-origin: 0% 100%;
    transition: all 0.4s ease-in-out 0.3s;
}
.view-ninth h2{
    background: transparent;
    margin-top: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.view-ninth a.info{
    display: none;
}

.view-ninth:hover .content{
    height: 120px;
    width: 300px;
    opacity: 0.9;
    top: 40px;
    transform: rotate(0deg) translate(0px,0px);
}
.view-ninth:hover .mask-1,
.view-ninth:hover .mask-2{
	transition-delay: 0s;
}
.view-ninth:hover .mask-1{
    transform: rotate(56.5deg) translateX(1px);
}
.view-ninth:hover .mask-2 {  
    transform: rotate(56.5deg) translateX(-1px);
}

#gradation{
    width: 100%;
    height: 100vh;
    background-color: #00897B;
    position: relative;
}

#button{
    width: 100%;
    height: 100vh;
    background-color: #EEFF41;
    position: relative;
}

#star{
    width: 100%;
    height: 100vh;
    background-color: #080346;
    position: relative;
}

#star h1{
    font-family: "impact";
}

#cities{
    width: 100%;
    height: 100vh;
    background-color: #455A64;
    position: relative;
}
#cities h1{
   font-family: "PhosphateInline";
}


.slider a {
  text-decoration: none;
  color: fff;
}
.slider {
  height: 400px;
  width: 800px;
  background: url(http://lorempixum.com/800/400/sports/8);
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;
 
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}
.panel {
  width: 200px;
  height: 400px;
  background: transparent;
  color: transparent;
  float: left;
  overflow: hidden;
 
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease;
  -ms-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
}
.panel h2 {
  font: bold 35px/1.5 Helvetica, Verdana, sans-serif;
  width: 150px;
  margin: 55px auto 0 auto;
}
 
.panel p {
  font: 200 11px/1.5 Helvetica, Verdana, sans-serif;
  width: 150px;
  margin: 0 auto;
}
.panel:hover {
  background: #000; /*for old browsers*/
  background: rgba(0,0,0,0.8);
  color: #fff;
}


.slider {
  height: 400px;
  width: 800px;
  background: url(MyWebsite23.jpeg);
  background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0px;
    background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px auto;
 
/*
  -webkit-animation: slider 15s infinite;
  -moz-animation: slider 15s infinite;
  -ms-animation: slider 15s infinite;
  -o-animation: slider 15s infinite;
  animation: slider 15s infinite;
*/
 
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}
@keyframes "slider" {
 0% {
    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 23% {
    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 33% {
    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 56% {
    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 66% {
    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 90% {
    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 100% {
    background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
 }
 
}
@keyframes "slider" {
 0% {
    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 23% {
    background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 33% {
    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 56% {
    background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 66% {
    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 90% {
    background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 100% {
    background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
 }
 
}
 
@-moz-keyframes slider {
 0% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 20% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 33% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 56% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 66% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 90% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 100% {
   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
 }
 
}
 
@-webkit-keyframes "slider" {
 0% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 20% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 33% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 56% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 66% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 90% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 100% {
   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
 }
 
}
@-ms-keyframes "slider" {
 0% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 20% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 33% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 56% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 66% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 90% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 100% {
   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
 }
 
}
 
@-o-keyframes "slider" {
 0% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 20% {
   background-position: 0px 0px, 800px 0px, 1600px 0px, 3200px 0;
 }
 33% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 56% {
   background-position: -800px 0px, 0px 0px, 800px 0px, 1600px 0;
 }
 66% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 90% {
   background-position: -1600px 0px, -800px 0px, 0px 0px, 800px 0;
 }
 100% {
   background-position: -3200px 0px, -1600px 0px, -800px 0px, 0px 0;
 }
 
}

#star img{
    width: 350px;
    margin-right:410px;
   margin-top: 400px;
}
#sidebar1{
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;
    width: 30%;
    height: 100vh;
    opacity: 0.5;

}

#square{
   width: 70%;
    padding-top: 9px;
    padding-left: 150px;
}

#sidebar2{
    position: absolute;
    right: 0;
    top: 0;
    background-color:#fff;
    width: 30%;
    height:100vh;
    opacity: 0.5;
   
}
#square2{
    width: 70%;
    padding-top: 50px;
 padding-left: 10px;
}

#sidebar3{
    position: absolute;
    right:0;
    top:0;
    background-color: #fff;
    width: 30%;
    height: 100vh;
    opacity: 0.5;
}

#sidebar4{
    position: absolute;
    right:0;
    top:0;
    background-color: #fff;
    width: 30%;
    height: 100vh;
    opacity: 0.5;
}
#sidebar5{
    position: absolute;
    right:0;
    top:0;
    background-color: #fff;
    width: 30%;
    height: 100vh;
    opacity: 0.5;
}
#square5{
 width: 70%;  
 padding-top: 150px;
 padding-left: 3px;
}

body {
  background: #8bc34a;
  color: white;
  text-align: center;
}

a {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}

.menu {
  -webkit-filter: url("#goo");
          filter: url("#goo");
}

.menu-item, .menu-open-button {
  background: #e91e63;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #e91e63;
}
.menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
          transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
          transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
          transform: translate3d(0.08361px, -104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
          transform: translate3d(90.9466px, -52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
          transform: translate3d(90.9466px, 52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
          transform: translate3d(0.08361px, 104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
          transform: translate3d(-90.86291px, 52.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
          transform: translate3d(-91.03006px, -52.33095px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
  transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
          transform: translate3d(-0.25084px, -104.9997px, 0);
}


#gradation h1{
    font-family: "krungthep";
    color: #FF9300;
    padding-right: 320px;
    width: 350px;
    margin-right:100px;
   margin-top: 100px;
    
}